<html>
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<% include partials/columnsystem %>
	<title>PlayDuctive</title>
</head>

<body>
	<% include partials/nav %>
	<div class="colmask">
		<div class="header">
			Waterfall
		</div>
	</div>
<% if(statusinfo){ 
	var taskList = eval(statusinfo)
	for(var i = 0; i < taskList.length; i++){ 
		var task = taskList[i] %>
		<div class="col-md-3 proj-padding-edit">
			<div class="waterfall-task"> <!-- replace with waterfall class -->
				<h3><%= task.taskDesc %></h3>
				<p><%= task.statusName %></p>
				<p>Task Exp: <%= task.taskExp %></p>
				<form action="/tasks/completeTask" method="GET">
					<input type="hidden" name="projectId" value="<%= projId %>">
					<input type="hidden" name="taskId" value="<%= task.taskId %>">
					<button class="waterfall-task-complete-button" type="submit">Mark As Completed</button> 
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
<% }} %>
<form action="/makeTask" method="get">
	<input type="hidden" name="projId" value="<%= projId %>">
	<button class="col-md-12 col-lg-12 make-project" type="submit">Make Task</button>
</form>
<% include partials/bodyScript %>
</body>
</html>