<html>
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<% include partials/columnsystem %>
	<title>PlayDuctive</title>
</head>

<body>
	<% include partials/nav %>
	<div class="colmask">
		<div class="header">
			Waterfall
		</div>
		<form action="/projects/completeProject" method="POST">
			<input type="hidden" name="projId" value="<%= projId %>">
			<button class="waterfall-project-complete-button" type="submit">Mark Project As Complete</button> 
			<div class="clearfix"></div>
		</form>
	</div>
	<div>
<% if(statusinfo){ 
	var taskList = eval(statusinfo)
	for(var i = 0; i < taskList.length; i++){ 
		var task = taskList[i] %>
		<div class="col-md-3 proj-padding-edit">
			<div class="waterfall-task"> <!-- replace with waterfall class -->
				<h3><%= task.taskDesc %></h3>
				<p><%= task.statusName %></p>
				<p>Task Exp: <%= task.taskExp %></p>
				<form action="/tasks/completeTask" method="POST">
					<input type="hidden" name="projId" value="<%= projId %>">
					<input type="hidden" name="taskId" value="<%= task.taskId %>">
					<button class="waterfall-task-complete-button" type="submit">Mark As Completed</button> 
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
<% }} %>
</div>
<br>
<div>
	<form id="taskForm" action="/makeTask/posts" method="post">
	  Class:<br>
	  <select name="classTitle">
	      <option value="Warrior">Warrior</option>
	      <option value="Magician">Magician</option>
	      <option value="Rogue">Rogue</option>
		  <option value="Tinkerer">Tinkerer</option>
		  <option value="Priest">Priest</option>
	  </select><br>
	  Task Reward(Min:10 Exp | Max:100 Exp):<br>
	  <input type="number" name="taskExp" min="10" max="100"><br>
	  Task Description:<br>
	  <input type="text" name="taskDesc"><br>
	  <button class="waterfall-task-create-button" type="submit">Make Task</button><br>
	</form>
</div>
<% include partials/bodyScript %>
</body>
</html>