<% if(!user){ //not logged in%>
	<div class="navbar-main">
		<div class="logo-button button-check">
			<form action="/" method="get">
				<button type="submit">Home</button>
			</form>
		</div>
		<div class="log-buttons button-check">
			<button class="showLog">Login</button>
			<button class="showReg">Register</button>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="nav-login nav-drop">
		<h1>Login</h1>
		<form action="/logCheck" method="get">
			<label>Username </label><br>
			<input class="log-input" type="text" name="user" required/></br>
			<label>Password </label><br>
			<input class="log-input" type="password" name="pass" required/></br>
			<button class="sign-button" type="submit">Login</button>
			<div class="clearfix"></div>
		</form>
	</div>
	<div class="nav-register nav-drop">
		<h1>New Account</h1>
		<form action="/login" method="post">
			<input type="hidden" name="register" value="true">
			<label>New Username</label><br>
			<input id="reg-user" class="log-input" type="text" name="user" required></br>
			<label>Email</label><br>
			<input type="email" class="log-input" name="email" required></br>
			<label>New Password</label><br>
			<input id="reg-pass" class="log-input" type="password" name="pass" onkeyup="passCheck()" required></br>
			<label>Repeat Password</label><br>
			<input id="reg-pass2" class="log-input" type="password" name="pass2" onkeyup="passCheck()" required></br>
			<span id="pass-check"></span></br>
			<span id="user-check"></span></br>
			<button class="sign-button" id="reg-button" type="submit" >Create Account</button>
			<div class="clearfix"></div>
		</form>
	</div>
<% }else { //logged in%>
	<div class="navbar-main nav-log-true">
		<div class="logo-button button-check">
			<form action="/" method="get">
				<button type="submit">Home</button>
			</form>
		</div>
		<div id="twitter-share" class="logo-button button-check">
		<script>window.twttr = (function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
			  if (d.getElementById(id)) return t;
			  js = d.createElement(s);js.id = id;js.src = "https://platform.twitter.com/widgets.js";
			  fjs.parentNode.insertBefore(js, fjs);
			  t._e = [];
			  t.ready = function(f) {t._e.push(f);};return t;
			}(document, "script", "twitter-wjs"));</script>
			<a class="twitter-share-button"
			  href="https://twitter.com/intent/tweet?text=I%20Love%20Playductive!"
			  data-size="large">
			Tweet</a>
		</div>
		<div id="facebook-share" class="logo-button button-check">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>
			<div class="fb-share-button" data-href="https://playductive.herokuapp.com/" data-layout="button_count" data-mobile-iframe="true"></div>
		</div>
			
		<div id="linkedin-share" class="logo-button button-check">
			<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
			<script type="IN/Share" data-url="https://playductive.herokuapp.com/" data-counter="right"></script>
		</div>
		<div class="log-buttons button-check">
			<form action="/login/logout" method="GET"><button type="submit">Logout</button></form>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="user-stats">
		<% var clStat = eval(stats) %>
		<div class="col-md-2 col-lg-2 stat-spot">
			<p>Dungeon Master</p>
			<p>Total EXP: <%= clStat[0].classExp %></p>
		</div>
		<div class="col-md-2 col-lg-2 stat-spot">
			<p>Warrior</p>
			<p>Total EXP: <%= clStat[1].classExp %></p>
		</div>
		<div class="col-md-2 col-lg-2 stat-spot">
			<p>Magician</p>
			<p>Total EXP: <%= clStat[2].classExp %></p>
		</div>
		<div class="col-md-2 col-lg-2 stat-spot">
			<p>Rogue</p>
			<p>Total EXP: <%= clStat[3].classExp %></p>
		</div>
		<div class="col-md-2 col-lg-2 stat-spot">
			<p>Tinkerer</p>
			<p>Total EXP: <%= clStat[4].classExp %></p>
		</div>
		<div class="col-md-2 col-lg-2 stat-spot">
			<p>Priest</p>
			<p>Total EXP: <%= clStat[5].classExp %></p>
		</div>
	</div>
<% } %>